.shopUnit {
    float: left;
    width: 28%;
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
    margin-right: 6.365%;
    margin-bottom: 20px;
}
.shopUnit:nth-child(3n) {
    margin-right: 0;
}

.shopUnitName {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-family: Exo, sans-serif;
    font-size: 1.2em;
}

.shopUnit img {
    width: 100%;
    height: 231px;
}

.shopUnitShortDesc {
    text-align: justify;
    margin-top: 10px;
}

.shopUnitPrice {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
    color: #6a6747;
    font-weight: bold;
}

.shopUnitMore {
    border: none;
    padding: 5px 15px;
    background-color: #696969;
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #e6e09a;
    text-decoration: none;
}

.shopUnitMore:hover {
    color: #fff;
    background-color: #777777;
}